<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="datamng-welcome">
                <h3>Resource Closed</h3>

                <div class="datamng-welcome-btn">
                    <a href="#">
                        <span class="icojam_home2"></span><br>
                        <span>Home</span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>