<div id="DataEditorContainer" >
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12 dm-header">
        <h2 class="dm-section-title pull-left">Data Editor</h2>
        <div class="btn-toolbar pull-right">
          <button id="dataEditEnd" type="button" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-floppy-disk"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="DataEditorMainContainer">LOADING...</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="btnUploadGroup" class="form-group pull-right">
        <label id="lblUpload" for="dataFUpload">Upload</label>
        <input type="file" name="filename" id="dataFUpload" />
      </div>
    </div>
  </div>
</div>