<div id="DataEditorContainer" class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="DataEditorMainContainer"></div>
            <button id="dataEditEnd" type="button" class="btn btn-default pull-right">Done</button>
        </div>
    </div>
</div>