<!-- Control toolbar -->
<!-- Page Header-->
<div class="container">
  <div class="row fx-header">
    <div class="col-xs-12">

        <button id="delete-confirm"> Confirm </button>
        <button id="delete-undo"> Undo</button>

    </div>
  </div>
</div>