<!-- FENIX DSD Container-->
<div id="DSDEditorContainer" class="container">
  <p>
    Welcome to the Fenix Platform Data Editor. Please start by adding the metadata. Later, you can use the Column
    editor on the left (1) to add and modify columns. These are displayed in the right side (2), where you can
    check your personalized columns.
  </p>

  <div class="row">
    <div class="col-sm-12   ">
      <div id ="divColsLoad" class="row">
        <button id="btnColsLoad" type="button" class="btn btn-default">__Copy Columns</button>
      </div>
      <div id="DSDEditorMainContainer" class="row"></div>
      <div id="divCSV" class="row">
        Upload a CSV
        <div id="divUplaodCSV"></div>
      </div>
      <button id="btnColsEditDone" type="button" class="btn btn-default pull-right">DSD Done</button>
      <hr/>
      <a href="sampledata/management/fenix_data_upload_sample.csv">Download Sample CSV</a>
      <hr/>
    </div>
  </div>

  <div id="uidVerPopup" class="modal" data-backdrop="static">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <table>
            <tr>
              <td>UID</td>
              <td>
                <input id="txtUID" type="text"/>
              </td>
            </tr>
            <tr>
              <td>Version</td>
              <td>
                <input id="txtVersion" type="text"/>
              </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button id="btnUidVerCanc" type="button" class="btn btn-default">__Cancel</button>
          <button id="btnUidVerOk" type="button" class="btn btn-primary">__OK</button>
        </div>
      </div>
    </div>
  </div>