<!-- FENIX DSD Container-->
<div id="DSDEditorContainer" class="container">
  <p>
    Welcome to the Fenix Platform Data Editor. Please start by adding the metadata. Later, you can use the Column
    editor on the left (1) to add and modify columns. These are displayed in the right side (2), where you can
    check your personalized columns.
  </p>

  <div class="row">
    <div class="col-sm-12   ">
      <div id="DSDEditorMainContainer" class="row"></div>
      Upload a CSV
      <div id="divUplaodCSV"></div>
      <!--<button id="btnUploadDone" type="button" class="btn btn-default">Upload Done</button>-->
      <!--<hr>-->
      <button id="btnColsEditDone" type="button" class="btn btn-default pull-right">DSD Done</button>
      <hr>
        <a href="sampledata/management/fenix_data_upload_sample.csv">Download Sample CSV</a>
        <hr>
        </div>
  </div>
</div>