<!-- FENIX DSD Container-->
<div id="DSDEditorContainer">
  <!--  <p>
        Welcome to the Fenix Platform DSD Editor. Please start by adding the metadata. Later, you can use the Column
        editor on the left (1) to add and modify columns. These are displayed in the right side (2), where you can
        check your personalized columns.
      </p>-->

  <div class="row">
    <div class="col-sm-12">
      <div id="divColsLoad" class="row">
        <div class="col-xs-12 dm-header">
          <h2 class="dm-section-title pull-left">Data Structure Definition Editor</h2>

          <div class="btn-toolbar pull-right">
            <!--<button id="btnColsEditDone" type="button" class="btn btn-default pull-right">Save</button>-->
            <button id="btnColsEditDone" type="button" class="btn btn-default pull-right">
              <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
          </div>
        </div>
      </div>
      <div id="DSDEditorMainContainer" class="row"></div>
      <div class="row">
        <button id="btnDSDDownload" type="button" class="btn btn-default pull-right">Download</button>
        <div id="btnUploadGroup" class="form-group">
          <label id="lblUpload" for="dsdFUpload">Upload</label>
          <input type="file" name="filename" id="dsdFUpload" />
        </div>
      </div>
    </div>
  </div>
</div>