<!-- FENIX DSD Container-->
<div id="DSDEditorContainer">
    <!--  <p>
          Welcome to the Fenix Platform DSD Editor. Please start by adding the metadata. Later, you can use the Column
          editor on the left (1) to add and modify columns. These are displayed in the right side (2), where you can
          check your personalized columns.
        </p>-->

    <div class="row">
        <div class="col-sm-12">
            <div id="divColsLoad" class="row">
                <div class="col-xs-12 dm-header">
                    <h2 id="DSDHeader" class="dm-section-title pull-left">Data Structure Definition Editor</h2>

                    <div class="btn-toolbar pull-right">
                        <button id="btnColsEditDone" type="button" class="btn btn-default pull-right">
                            <!--<span class="glyphicon glyphicon-floppy-disk"></span>-->
                            Save
                        </button>
                    </div>
                </div>
            </div>
            <div id="DSDEditorMainContainer" class="row"></div>
            <div class="row">
                <div id="btnUploadGroup" class="form-group">
                    <table class="table">
                        <tr>
                            <td>
                                <label id="lblDownload" for="btnDSDDownload" style="display: none">Download</label><br />
                                <button id="btnDSDDownload" type="button" class="btn btn-default" style="display: none">Download</button>
                            </td>
                            <td>
                                <label style="display: none" id="lblUpload" for="dsdFUpload">Upload</label><br />
                                <input style="display: none" type="file" name="filename" id="dsdFUpload" />
                            </td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>