<!-- Control toolbar -->
<!-- Page Header-->
<div class="container">
    <div class="row fx-header">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>Fenix Data Editor
                    <small> FENIX</small>
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <p>Choose what to do:</p>

            <div class="row">
                <div class="col-sm-6">
                    <a href="search">
                        <h3>Search</h3>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="add">
                        <h3>Add</h3>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>