<!-- Control toolbar -->
<!-- Page Header-->
<div class="container">
    <div class="row fx-header">
        <div class="col-xs-12">
            <div class="page-header">

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="uneca-datamng-welcome">
                <h3>Fenix Data Editor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper nisl et velit cursus condimentum.
                    Nulla facilisi. Sed quis malesuada augue. Nullam feugiat dignissim nibh vitae vestibulum. Nam
                    accumsan fermentum nisi, vestibulum commodo leo:</p>

                <div class="uneca-datamng-welcome-btn">
                    <a href="#search">
                        <span class="icojam_base_search_in"></span><br>
                        <span>Search</span>
                    </a>
                </div>

                <div class="uneca-datamng-welcome-btn">
                    <a href="#add">
                        <span class="icojam_add"></span><br>
                        <span>Add</span>
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>