<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="datamng-welcome">
                <h3 id="DManHeader">Fenix Data Editor</h3>
                <p id="DManIntro">Data management is the process of controlling the information generated during a research project. Any research will require some level of data management, and funding agencies are increasingly requiring scholars to plan and execute good data management practices.</p>

                <div id="btnSearch" class="datamng-welcome-btn">
                    <a href="#search">
                        <span class="icojam_base_search_in"></span><br>
                        <span id="btnSearchText">Search</span>
                    </a>
                </div>

                <!--<div class="uneca-datamng-welcome-btn">
                    <a href="#add">
                        <span class="icojam_add"></span><br>
                        <span id="btnAddText">Add</span>
                    </a>
                </div>-->
            </div>


        </div>
    </div>
</div>