<!-- Control toolbar -->
<!-- Page Header-->
<div class="container">
  <div class="row fx-header">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>
          Fenix Data Editor
          <small> FENIX</small>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <button id="btnMeta" class="btn" data-section="metadata">
        Meta
      </button>
      <button id="btnDSD" class="btn" data-section="dsd">
        DSD
      </button>
      <button id="btnData" class="btn" data-section="data">
        Data
      </button>

    </div>
  </div>
</div>