<div id="data-mng-menu-container"></div>

<div id="main-container" class="container fx-datamng-holder"></div>

<!-- Page Footer -->
<div class="container">
    <footer>
        <p>2015 FENIX · <a href="#">Terms</a></p>
    </footer>
</div>