<div id="data-mng-menu-container"></div>

<div id="main-container" class="container fx-datamng-holder"></div>

<!-- Page Footer -->
<div class="container">
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>

        <p>2014 FENIX · <a href="#">Terms</a></p>
    </footer>
</div>