<div class="row">
    <div class="col-xs-12">
        <button data-role="save" title="{{saveBtn}}"
                type="button" class="pull-right btn btn-floating fx-background-color-primary-color" aria-label="Left Align">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
    </div>
    <div id="fx-data-management-utility-holder" ></div>
</div>

<hr>
<div class="row">
    <div class="col-xs-12">
       <div data-role="data"></div>
    </div>
</div>