<div class="row">
    <div class="col-xs-12">
        <div class="datamng-welcome">
            <h3 id="DeleteHeader">Delete Resource?</h3>
            <div id="btnDeleteConfirm" class="datamng-welcome-btn">
                <a id="delete-confirm">
                    <span class="icojam_delete"></span><br>
                    <span>Confirm</span>
                </a>
            </div>

            <div id="btnDeleteUndo" class="datamng-welcome-btn">
                <a id="delete-undo">
                    <span class="icojam_cancel_1"></span><br>
                    <span>Undo</span>
                </a>
            </div>


        </div>
    </div>
</div>