<div class="row">
    <div class="col-xs-12">
        <button data-role="save" type="button" class="pull-right btn btn-floating fx-background-color-primary-color" aria-label="Left Align">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-xs-12">
       <div data-role="dsd"></div>
    </div>
</div>