<div data-role="menu" class="dropdown">
    <button id="btnFileUploader" class="btn btn-floating" type="button" data-toggle="dropdown" aria-expanded="true">
        <span class="icojam_cloud_upload"></span>
    </button>
    <ul class="dropdown-menu json-menu">
        <li class="js-menu dropdown-submenu">
            <label id="lblUpload" for="dataFUpload">Upload</label>
            <br>
            <input type="file" name="filename" id="dataFUpload" />
            <br>
        </li>
        <li class="js-menu dropdown-submenu">
            <label id="lblSeparator" for="csvSeparator">CSV Separator</label>
            <br>
            <input type="radio" id="csvSeparatorComma" name="csvSeparator" value="," checked>
                <label id="DatalblcsvSeparatorComma" class="filter-enabled-label" for="csvSeparatorComma">Comma</label>
            <br>
            <input type="radio" id="csvSeparatorSemi" name="csvSeparator" value=";">
                <label id="DatalblcsvSeparatorSemi" class="filter-enabled-label" for="csvSeparatorSemi">Semicolon</label>
        </li>
    </ul>
</div>