<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="datamng-welcome">
            <h3 id="DManResHeader">Edit Resource</h3>

            <!--<div id="btnMeta" data-section="metadata" class="datamng-welcome-btn">-->
                <!--<a>-->
                    <!--<span id="txtMeta">Metadata</span>-->
                <!--</a>-->
            <!--</div>-->

            <!--<div id="btnDSD" data-section="dsd" class="datamng-welcome-btn">-->
                <!--<a>-->
                    <!--<span id="txtDSD">DSD</span>-->
                <!--</a>-->
            <!--</div>-->

            <!--<div id="btnData" data-section="data" class="datamng-welcome-btn">-->
                <!--<a>-->
                    <!--<span id="txtData">Data</span>-->
                <!--</a>-->
            <!--</div>-->


            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                    <button id="btnMeta" data-section="metadata" class="btn btn-default fx-button-primary-color" > Metadata </button>
                </div>
                <div class="btn-group" role="group">
                    <button id="btnDSD" data-section="dsd" class="btn btn-default fx-button-primary-color" > DSD Editor </button>
                </div>
                <div class="btn-group" role="group">
                    <button id="btnData" data-section="data" class="btn btn-default fx-button-primary-color" > Data </button>
                </div>

            </div>

        </div>

    </div>
</div>



