<div class="row">
    <div class="col-xs-12">
        <div class="datamng-welcome">
            <h3 id="DManResHeader">Edit Resource</h3>

            <div id="btnMeta" data-section="metadata" class="datamng-welcome-btn">
                <a>
                    <span id="txtMeta">Metadata</span>
                </a>
            </div>

            <div id="btnDSD" data-section="dsd" class="datamng-welcome-btn">
                <a>
                    <span id="txtDSD">DSD</span>
                </a>
            </div>

            <div id="btnData" data-section="data" class="datamng-welcome-btn">
                <a>
                    <span id="txtData">Data</span>
                </a>
            </div>

        </div>

    </div>
</div>