<div id="fx-data-management" class="container">
    <div id="fx-data-managment-update-model-holder" >
        <div class="fx-datamng-utility-buttons">
            <button id="fx-data-managment-update-button" class="btn btn-default pull-right"></button>
            <div id="fx-data-management-utility-holder" class="pull-left"></div>
        </div>
    </div>

    <div id="fx-data-management-content-holder"></div>

</div>