<div id="fx-data-management">

    <a href="#landing">Landing</a>
    <a href="#search">Search</a>
    <a href="#wrong">wrong</a>

    <div id="fx-data-management-content-holder" class="container">
        <div id="fx-data-management-content"></div>
    </div>
</div>