<div id="fx-data-management" class="data-mng-container container-fluid">

    <div id="fx-data-management-menu" class="fx-data-management-menu"></div>

    <div class="row">
        <div class="col-md-12">
            <h3>
                <span id="fx-data-managment-header-title"></span>
                <span id="fx-data-managment-resource-title"></span>
            </h3>

        </div>
    </div>

    <div id="fx-data-management-content-holder"></div>

</div>