<div id="fx-data-management">
    <div id="fx-data-managment-update-model-holder">
        <button id="fx-data-managment-update-button"></button>
    </div>
    <div id="fx-data-management-content-holder" class="container"></div>
    <div id="fx-data-management-utility-holder" class="container"></div>
</div>