<div data-role="modal" class="modal fade catalog-modal catalog-dm" tabindex="-1" role="dialog"
     aria-labelledby="analysisCatalog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div id="catalog-container"></div>

        </div>
    </div>
</div>