<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="datamng-welcome">
                <h3>Edit Resource</h3>

                <a id="btnMeta" data-section="metadata">
                    <div class="datamng-welcome-btn">
                            <span class="txt-btn">Metadata</span>
                    </div>
                </a>

                <!--<div class="datamng-welcome-btn">
                    <a id="btnData" data-section="data">
                        <span>Data</span>
                    </a>
                </div>-->

            </div>

        </div>
    </div>
</div>