<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="datamng-welcome">
                <h3>Edit Resource</h3>
                <a id="btnMeta" data-section="metadata">
                    <div class="datamng-welcome-btn">

                        <span>Metadata</span>

                    </div>
                </a>
                <a id="btnDSD" data-section="dsd">
                    <div class="datamng-welcome-btn">

                        <span>DSD</span>

                    </div>
                </a>
                <a id="btnData" data-section="data">
                    <div class="datamng-welcome-btn">

                        <span>Data</span>

                    </div>
                </a>
            </div>

        </div>
    </div>
</div>