/* FENIX Data Management */

@import 'utils/fx-functions';
@import 'utils/fx-mixins';
@import 'utils/fx-utils';

@import 'themes/fx-bootstrap-queries';
@import 'themes/fx-variables';


@import 'base/fx-buttons';
@import 'base/fx-fonts-import';
@import 'base/fx-icons';
@import 'base/fx-radio-checkbox';
@import 'base/fx-typography';

@import 'base/fx-preload';


// Standard Fenix Theme

$fx-secondary-color: desaturate( $fx-cool-blue, 50% );

.fx-text-primary-color{
  color: $fx-cool-blue;
}

.fx-background-color-primary-color{
  background-color: $fx-cool-blue;
}


.fx-button-primary-color {
  color: white;
  border-color: darken($fx-cool-blue, 10%);
  background-color: $fx-cool-blue;

  &:hover {
    color: white;
    border-color: darken($fx-cool-blue, 10%);
    background-color: darken($fx-cool-blue, 5%);
  }

  &:focus {
    color: white;
    border-color: darken($fx-cool-blue, 20%);
    background-color: darken($fx-cool-blue, 15%);
  }

}

/////



.fx-data-management-menu{

  .disabled{
    //opacity: 0;
    pointer-events: none;

  }

}


#fx-data-managment-header-title {
  text-transform: capitalize;
}

#fx-datamng-utility-buttons {

}

.data-mng-container {
  position: relative;
  z-index: 500;
}

#main-container {
  .container{
    padding: 0;
    width: 100%;

  }
}

.catalog-dm{
  position: static;
  display: block;
  opacity: 1;
  overflow: visible;

  .modal-dialog{
    @include fx-transfor-me(none !important);
  }

}

.datamng-welcome{
  text-align: center;
  width: 350px;
  background-color: white;
  padding: 25px;
  position: relative;
  left: 50%;
  @include fx-transfor-me(translateX(-50%));
  @include fx-border-radius(3px);


  h3{
    margin-top: 0;
    font-size: 22px;
  }




}

#data-mng-menu-container{
  .fx-menu{

    margin-bottom: 0;
    background-color: $fenix-light-gray;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    min-height:30px;

    .fx-ul{
      a{
        padding-bottom: 5px;
        padding-top: 5px;
      }

    }

  }

  .dropdown-menu{
    border-top: 0;
  }

}

#site-container{



}

.fx-datamng-holder{
  min-height: 400px;
  background-color: $fenix-light-bg;
  padding-top: 20px;


  .metadata-view{

    .container{
      padding: 0;
      width: 100%;

    }
  }

}

.datamng-container{
  padding: 0;
}
