<!-- Control toolbar -->
<div class="container">
    <div class="col-xs-12 dm-header" id="fx-editor-navbar">
        <h2 id="MetaHeader" class="dm-section-title pull-left">Metadata Editor</h2>

        <div class="dropdown btn-toolbar pull-right">
            <button id="btnCopyMetadata" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >
                Copy Metadata <span class="caret"></span>
            </button>
            <div class="dropdown-menu" style="padding:10px">
                <div>
                    <div id="MetaCopyHeader">Copy metadata from resource</div>
                    <div>
                        <input type="text" placeholder="Resource Identification Code" class="form-control input-sm" id="resourceUid"/>
                    </div>
                    <br/>
                    <div>
                        <input type="text" placeholder="Resource Version (if applicable)" class="form-control input-sm" id="resourceVersion"/>
                    </div>
                    <br/>
                    <div>
                        <button id="metaeditor-loadMeta-btn" type="button" class="btn btn-primary"> Load </button>
                    </div>
                </div>
            </div>


            <button id="btnLoadMeta" type="button" class="btn btn-primary" style="display:none">
                TmpLoad
            </button>
            <button id="btnSaveMeta" type="button" class="btn btn-primary">
                Save
            </button>

        </div>
    </div>
</div>

<!-- FENIX Metadata Editor-->
<div id="metadataEditorContainer"></div>