<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="datamng-welcome">
                <h3 id="DManResHeader">Edit Resource</h3>

                <div id="btnMeta" class="datamng-welcome-btn">
                    <a id="btnMeta" data-section="metadata">
                        <span id="txtMeta">Metadata</span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>