<div id="data-mng-menu-container"></div>

<!-- Data mng menu container -->
<div class="container data-mng-secondary-menu-container">
    <div id="data-mng-menu-container"></div>
</div>

<div id="main-container" class="container fx-datamng-holder"></div>

<!-- Page Footer -->
<div class="container">
    <footer>
        <p>2016 FENIX · <a href="#">Terms</a></p>
    </footer>
</div>